@namespace Dungeon.UI
@using Sandbox.UI;
@inherits RootPanel
@attribute [StyleSheet]


@if (!DungeonConfig.DrawHud)
    return;

<root>
    <div>@Player.Local.FloorsCleared</div>
</root>

@code {
    protected override int BuildHash()
    {
        return System.HashCode.Combine(Player.Local.FloorsCleared, DungeonConfig.DrawHud);
    }
}
